<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="inner-bg-sec cf" style="background-image: url(assets/images-nct/inner-heading-bg.jpg);">
        <h1>Contact Us</h1>
    </div>
    <div class="login-signup-sec cf">
        <div class="signup-outer cf">
            <form>
                <div class="form-group cf">
                    <input type="text" id="email" name="email" placeholder="Enter Name" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <input type="text" id="pass" name="pass" placeholder="Enter Contact Number" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <input type="text" id="email" name="email" placeholder="Enter Email ID" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <textarea class="is-form-control" rows="5"></textarea>
                </div>
                <div class="form-group cf">
                    <button type="submit" class="main-btn md-btn w-100">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>