<footer>
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center w-100">
            <div class="copyright">© 2023 Selfwish. All Rights Reserved.</div>
            <div class="ft-nav">
                <ul class="d-sm-flex align-items-center justify-content-center">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="">About Selfwish</a></li>
                    <li><a routerLink="">Selfwish Privacy Policy</a></li>
                    <li><a routerLink="">Selfwish Terms and Conditions</a></li>
                    <li><a routerLink="">Contact Selfwish</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>