<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="inner-bg-sec cf" style="background-image: url(assets/images-nct/inner-heading-bg.jpg);">
        <h1>Activities</h1>
    </div>
    <div class="serch-outer-activites cf">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-8">
                    <div class="home-serch collapse" id="collapsefilter">
                        <form class="d-md-flex align-items-center justify-content-center">
                            <div class="form-keyword">
                                <input type="text" id="email" name="email" placeholder="Email Address*" class="is-form-control">
                                <i class="is-srch-ico"><img src="assets/images-nct/search-ico.png"></i>
                            </div>
                            <div class="form-locate">
                                <input type="text" id="email" name="email" placeholder="Email Address*" class="is-form-control">
                                <i class="icon-location-icon"></i>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control is-form-control" id="inlineFormInputGroup" placeholder="Nearby">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="icon-gps-icon"></i></div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control is-form-control" id="inlineFormInputGroup" placeholder="Select Date">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="icon-calendar-icon"></i></div>
                                </div>
                            </div>
                            <div class="form-search-btn">
                                <button type="submit" id="activtysubmit" name="activtysubmit" class="main-btn sm-btn d-none d-md-block">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-lg-4">
                    <div class="filter-by cf">
                        <div class="dropdown cf">
                            <a href="" class="nav-link dropdown-toggle" id="filter-toogle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filter-toogle">
                                <form>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control is-form-control" id="inlineFormInputGroup" placeholder="Nearby">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-gps-icon"></i></div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control is-form-control" id="inlineFormInputGroup" placeholder="Select Date">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-calendar-icon"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="main-btn md-btn w-100">Apply Filter</button>
                                    </div>
                                </form>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
    <div class="activity-list-sec cf">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3><a href="">Salange Shinko</a></h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="green-btn sm-btn w-100 mt-2">Joined</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="orange-btn sm-btn w-100 mt-2">Awaiting Confirmation</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="orange-btn sm-btn w-100 mt-2">Awaiting Confirmation</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="green-btn sm-btn w-100 mt-2">Joined</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>

                <div class="advertise-banner-sec">
                    <div class="container">
                        <figure>
                            <img src="assets/images-nct/adv-banner-2.jpg">
                        </figure>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3><a href="">Salange Shinko</a></h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="green-btn sm-btn w-100 mt-2">Joined</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="orange-btn sm-btn w-100 mt-2">Awaiting Confirmation</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="orange-btn sm-btn w-100 mt-2">Awaiting Confirmation</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="green-btn sm-btn w-100 mt-2">Joined</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>