<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="inner-bg-sec cf" style="background-image: url(assets/images-nct/inner-heading-bg.jpg);">
        <h1>Account Settings</h1>
    </div>
    <div class="login-signup-sec cf">
        <div class="signup-outer cf">
            <h3>Sign Up</h3>
            <form>
                <div class="form-group cf">
                    <input type="text" id="pass" name="pass" placeholder="Enter Password" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <input type="text" id="pass" name="pass" placeholder="Enter New Password" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <input type="text" id="pass" name="pass" placeholder="Enter Reenter New Password" class="is-form-control">
                </div>
                
                <div class="row">
                    <div class="col-md-6 form-group cf">
                        <button type="submit" class="main-btn md-btn w-100">Change Password</button>
                    </div>
                    <div class="col-md-6 form-group cf">
                        <button type="submit" class="outer-main-btn md-btn w-100">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>