<app-header></app-header>
<app-header-mobile-chat></app-header-mobile-chat>
<div class="page-wrap chat-wrap">
    <div class="chat-detail-sec cf">
        <div class="container">
           <div class="chat-dtl-outer cf">
                <div class="lft-chat-list">
                    <ul>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="chat-lft-msg">
                                    <h3>Minna Amigon</h3>
                                    <p>Lorem Ipsum is simply</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="rgt-chat-info">
                    <div class="chat-user-info d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <figure>
                                <img src="assets/images-nct/list-pic-img1.jpg">
                            </figure>
                            <div class="chat-lft-msg">
                                <h3>Minna Amigon</h3>
                            </div>
                        </div>
                    </div>
                    <div class="chat-show-scroll">
                        <div class="mail-users left-side">
                            <div class="lft-user-img">
			                	<img src="assets/images-nct/list-pic-img2.jpg" alt="" class="mCS_img_loaded">
			                </div>
                            <div class="rgt-user-chat">
                                <h4>Micheal Shawn</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                        <div class="mail-users right-side">
                            <div class="rgt-user-chat">
                                <h4>Minna Amigon</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                            <div class="lft-user-img">
			                	<img src="assets/images-nct/list-pic-img3.jpg" alt="" class="mCS_img_loaded">
			                </div>
                        </div>
                        <div class="mail-users left-side">
                            <div class="lft-user-img">
			                	<img src="assets/images-nct/list-pic-img2.jpg" alt="" class="mCS_img_loaded">
			                </div>
                            <div class="rgt-user-chat">
                                <h4>Micheal Shawn</h4>
                                <p>Lorem Ipsum is simply.</p>
                            </div>
                        </div>
                        <div class="mail-users right-side">

                            <div class="rgt-user-chat">
                                <h4>Minna Amigon</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                            <div class="lft-user-img">
			                	<img src="assets/images-nct/list-pic-img3.jpg" alt="" class="mCS_img_loaded">
			                </div>
                        </div>
                        <div class="mail-users left-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                        <div class="mail-users right-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                        <div class="mail-users left-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply.</p>
                            </div>
                        </div>
                        <div class="mail-users right-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="mail-users left-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                        <div class="mail-users right-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                        <div class="mail-users left-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply.</p>
                            </div>
                        </div>
                        <div class="mail-users right-side">
                            <div class="rgt-user-chat">
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="send-msg-bx">
                        <div class="form-group mb-0 position-relative cf">
                            <input type="text" id="msg" name="msg" class="is-form-control" placeholder="Enter Message">
                            <div class="attach-paper">
                                <input type="file" id="attached">
                                <i class="icon-paperclip-icon"></i>
                            </div>
                        </div>
                        <button type="submit" class="send-ico">
                            <i class="icon-paper-plane-icon"></i>
                        </button>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>

<app-footer></app-footer>