<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="inner-bg-sec cf" style="background-image: url(assets/images-nct/inner-heading-bg.jpg);">
        <h1>Participants</h1>
    </div>
    <div class="list-request-sec cf">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img2.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img3.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img2.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img3.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img2.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img3.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="d-md-flex align-items-center participate-body cf">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close-icon"></i></span>
                </button>
                <figure>
                    <img src="assets/images-nct/list-pic-img1.jpg">
                </figure>
                <div class="participat-info">
                    <h4>Solange  Shinko</h4>
                    <small>Participants: <strong>100</strong></small>
                    <span class="chat-ico">
                        <a href=""><i class="icon-chat-dots-icon"></i></a>
                    </span>
                </div>
            </div>
          
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>