<app-header></app-header>
<div class="page-wrap">
    <div class="login-signup-sec cf">
        <div class="signup-outer cf">
            <h1>Login</h1>
            <p>"Building friendships and relationships through activities."</p>
            <form>
                
                <div class="form-group cf">
                    <input type="text" id="email" name="email" placeholder="Enter Email ID" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <input type="text" id="pass" name="pass" placeholder="Enter Password" class="is-form-control">
                </div>
                <div class="form-group d-flex justify-content-center cf">
                    <div class="flat-checkbox">
                        <input type="checkbox" id="rememberme" name="">
                        <label for="rememberme">Remember me</label>
                    </div>
                    <span class="forgot-link ml-auto"><a href="">Forgot Password?</a></span>
                </div>
                <div class="form-group cf">
                    <button type="submit" class="main-btn md-btn w-100">Login</button>
                </div>
                
                <hr>
                <span class="no-login">Don’t have an account?  <a href="/signup">Sign up</a></span>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>