<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="inner-bg-sec cf" style="background-image: url(assets/images-nct/inner-heading-bg.jpg);">
        <h1>My Activities</h1>
    </div>
    <div class="myactivities-sec cf">
        <div class="container">
            <div class="common-tabs-outer cf">
                <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Posted Activities</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Joining Activities</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="add-rgt-btn">
                        <a href="/add-activity" class="main-btn md-btn">Add Activity</a>
                    </div>
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="activity-list-sec">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3><a href="">Salange Shinko</a></h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        <a href="" class="main-btn sm-btn w-100 mt-2">List of Requests</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <img src="assets/images-nct/activity-img2.jpg">
                                        </figure>
                                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        <a href="" class="main-btn sm-btn w-100 mt-2">List of Requests</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Minnesota Craft Beer Festival 2023</h4>
                                        <figure>
                                            <img src="assets/images-nct/activity-img3.jpg">
                                        </figure>
                                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        <a href="" class="main-btn sm-btn w-100 mt-2">List of Requests</a>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        <a href="" class="main-btn sm-btn w-100 mt-2">List of Requests</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        <a href="" class="main-btn sm-btn w-100 mt-2">List of Requests</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Minnesota Craft Beer Festival 2023</h4>
                                        <figure>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        <a href="" class="main-btn sm-btn w-100 mt-2">List of Requests</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="activity-list-sec">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3><a href="">Salange Shinko</a></h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <div class="status-info pending-orange">Pending</div>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <div class="d-flex justify-content-center">
                                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                            <div class="chat-rgt-ico ml-auto">
                                                <a href="">
                                                    <i class="icon-chat-dots-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <div class="status-info accept-green">Accepted</div>
                                            <img src="assets/images-nct/activity-img2.jpg">
                                        </figure>
                                        <div class="d-flex justify-content-center">
                                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                            <div class="chat-rgt-ico ml-auto">
                                                <a href="">
                                                    <i class="icon-chat-dots-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Minnesota Craft Beer Festival 2023</h4>
                                        <figure>
                                            <div class="status-info pending-orange">Pending</div>
                                            <img src="assets/images-nct/activity-img3.jpg">
                                        </figure>
                                        <div class="d-flex justify-content-center">
                                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                            <div class="chat-rgt-ico ml-auto">
                                                <a href="">
                                                    <i class="icon-chat-dots-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <div class="status-info accept-green">Accepted</div>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <div class="d-flex justify-content-center">
                                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                            <div class="chat-rgt-ico ml-auto">
                                                <a href="">
                                                    <i class="icon-chat-dots-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                                        <figure>
                                            <div class="status-info pending-orange">Pending</div>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <div class="d-flex justify-content-center">
                                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                            <div class="chat-rgt-ico ml-auto">
                                                <a href="">
                                                    <i class="icon-chat-dots-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                                    <div class="general-bx activity-bx cf">
                                        <div class="d-flex align-items-center activity-user-info">
                                            <figure>
                                                <img src="assets/images-nct/user-img1.jpg">
                                            </figure>
                                            <h3>Salange Shinko</h3>
                                            <div class="rigt-dots dropdown ml-auto">
                                                <a class="dropdown-toggle" type="button" id="editdelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-icon"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="editdelete">
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Edit</a>
                                                    <hr>
                                                    <a class="dropdown-item" routerLink="/edit-profile-app">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Minnesota Craft Beer Festival 2023</h4>
                                        <figure>
                                            <div class="status-info accept-green">Accepted</div>
                                            <img src="assets/images-nct/activity-img1.jpg">
                                        </figure>
                                        <div class="d-flex justify-content-center">
                                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                                            <div class="chat-rgt-ico ml-auto">
                                                <a href="">
                                                    <i class="icon-chat-dots-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                                        <small>Participants: <strong>100</strong></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>