<header class="mobile-header-sec cf">
    <div class="d-flex justify-content-between">
        <div class="lft-back-ico">
            <a routerLink="/myprofile">
                <i><img src="assets/images-nct/back-ico.png"></i>
            </a>
        </div>
        <h1>My Profile</h1>
        <div class="rgt-different-ico">
            <a type="button" data-toggle="collapse" data-target="#collapsefilter" aria-expanded="false" aria-controls="collapsefilter">
                <i class="icon-filter-icon"></i>
            </a>
        </div>
    </div>
</header>