<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="edit-pro-sec cf">
        <div class="form-group cf">
            <div class="myprofile-pic cf">
                <div class="change-pic">
                    <input type="file" id="editpc" name="editpc">
                    <i class="fa fa-camera"></i>
                </div>
                <figure>
                    <img src="assets/images-nct/profile-pic.jpg">
                </figure>
            </div>
        </div>
        <hr>
        <div class="col-md-12 form-group cf">
            <input type="text" id="fname" name="fname" placeholder="Enter Fullname" class="is-form-control">
        </div>
        <div class="col-md-12 form-group cf">
            <input type="text" id="email" name="email" placeholder="Enter Email ID" class="is-form-control" readonly>
        </div>
        <div class="col-md-12 form-group cf">
            <textarea rows="5" id="msg" name="msg" class="is-form-control" placeholder="Enter Tell about..."></textarea>
        </div>
        <div class="col-md-12 form-group cf">
            <button type="submit" class="main-btn md-btn mb-2 w-100">Update</button>
        </div>
        <div class="col-md-12 form-group cf">
            <button type="reset" class="outer-main-btn md-btn w-100">Cancel</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>