<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="inner-bg-sec cf" style="background-image: url(assets/images-nct/inner-heading-bg.jpg);">
        <h1>List of Requests</h1>
    </div>
    <div class="list-request-sec cf">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img2.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img3.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img2.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img3.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img2.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img3.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="general-bx lst-request-bx cf">
                        <figure>
                            <img src="assets/images-nct/list-pic-img1.jpg">
                        </figure>
                        <div class="list-req-info">
                            <h3>Minna Amigon</h3>
                            <a href="" class="main-btn xs-btn w-auto">Accept</a>
                            <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-label="Close">
                
              </button>
          <h5 class="modal-title" id="editProfileModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icon-close-icon"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="edit-profile-outer">
            <form>
                <div class="form-group cf">
                    <div class="myprofile-pic cf">
                        <div class="change-pic">
                            <input type="file" id="editpc" name="editpc">
                            <i class="fa fa-camera"></i>
                        </div>
                        <figure>
                            <img src="assets/images-nct/profile-pic.jpg">
                        </figure>
                    </div>
                </div>
                <div class="form-group cf">
                    <input type="text" id="fname" name="fname" placeholder="Enter Fullname" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <input type="text" id="email" name="email" placeholder="Enter Email ID" class="is-form-control" readonly>
                </div>
                <div class="form-group cf">
                    <textarea rows="5" id="msg" name="msg" class="is-form-control" placeholder="Enter Tell about..."></textarea>
                </div>
                <div class="form-group cf">
                    <button type="submit" class="main-btn md-btn mr-md-2 mr-1">Update</button>
                    <button type="reset" class="outer-main-btn md-btn">Cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>