<div class="landing-sec">
    <div class="skip-back-outer">
        <div class="d-flex justify-content-between">
            <div class="back-link">

            </div>
            <div class="skip-txt">
                <a href="">Skip</a>
            </div>
        </div>
    </div>
    <div class="app-logo-sec cf">
        <a href="">
            <img src="assets/images-nct/app-logo.svg">
        </a>
        <h1>selfwish</h1>
    </div>
    <p>"Building friendships and relationships through activities."</p>
    <figure>
        <img src="assets/images-nct/infographi-img.svg">
    </figure>
    <button type="submit" class="main-btn md-btn w-100 mb-3">Sign Up</button>
    <a href="" class="outer-main-btn md-btn w-100">Sign In</a>
</div>
