<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="inner-bg-sec cf" style="background-image: url(assets/images-nct/inner-heading-bg.jpg);">
        <h1>My Profile</h1>
    </div>
    <div class="profile-sec cf">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="myprofile-pic cf">
                        <figure>
                            <img src="assets/images-nct/profile-pic.jpg">
                        </figure>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10">
                    <div class="my-profile-outer cf">
                        <h2>Alan Patterson</h2>
                        <p><i class="icon-email-icon"></i>alan.patterson@gmail.com</p>
                        <p><i class="icon-phone-icon"></i>+91 85810 15050</p>
                        <div class="edit-profile-btn">
                            <a routerLink="" data-toggle="modal" data-target="#editProfileModal" class="main-btn xs-btn">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-desc">
                <h3>Tell us about yourself.</h3>
                <p>When I was 19 years old, I was taking a public speaking class where the Professor talked about the many faces we wear and it got me to thinking about how we pretend in the faces of others. Well, each day I aim to throw away more and more fake faces so that one day, the only face left is the authentic, original, unique, wild and free soul that has a face, known as Me.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-label="Close">
                
              </button>
          <h5 class="modal-title" id="editProfileModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icon-close-icon"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="edit-profile-outer">
            <form>
                <div class="form-group cf">
                    <div class="myprofile-pic cf">
                        <div class="change-pic">
                            <input type="file" id="editpc" name="editpc">
                            <i class="fa fa-camera"></i>
                        </div>
                        <figure>
                            <img src="assets/images-nct/profile-pic.jpg">
                        </figure>
                    </div>
                </div>
                <div class="form-group cf">
                    <input type="text" id="fname" name="fname" placeholder="Enter Fullname" class="is-form-control">
                </div>
                <div class="form-group cf">
                    <input type="text" id="email" name="email" placeholder="Enter Email ID" class="is-form-control" readonly>
                </div>
                <div class="form-group cf">
                    <textarea rows="5" id="msg" name="msg" class="is-form-control" placeholder="Enter Tell about..."></textarea>
                </div>
                <div class="form-group cf">
                    <button type="submit" class="main-btn md-btn mr-md-2 mr-1">Update</button>
                    <button type="reset" class="outer-main-btn md-btn" data-dismiss="modal">Cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>