<div class="page-wrap">
    <div class="is-profile-menu-sec cf">
        <div class="profile-top-outer">
            <div class="d-flex align-items-center">
                <figure>
                    <img src="assets/images-nct/list-pic-img2.jpg">
                </figure>
                <div class="my-profile-outer">
                    <h3>Zachary Thames</h3>
                    <a routerLink="/edit-profile-app">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="menu-list">
            <ul class="main-menu">
                <li><a routerLink="/myprofile"><i><img src="assets/images-nct/user-ico.svg"></i>My Profile</a></li>
                <li><a routerLink="/list-requests"><i><img src="assets/images-nct/calendar-ico.svg"></i>My Upcoming Activities</a></li>
                <li><a routerLink="/my-activities"><i><img src="assets/images-nct/past-ico.svg"></i>My Past Activities</a></li>
                <li><a routerLink="/account-settings"><i><img src="assets/images-nct/setting-ico.svg"></i>My Account Settings</a></li>
                <li><a routerLink="/login"><i><img src="assets/images-nct/logout-ico.svg"></i>Logout</a></li>
            </ul>
            <ul class="general-menu">
                <li><a routerLink="">About Selfwish</a></li>
                <li><a routerLink="">Selfwish Privacy Policy</a></li>
                <li><a routerLink="">Selfwish Terms and Conditions</a></li>
                <li><a routerLink="">Contact Selfwish</a></li>
            </ul>
            <p>Version 4.61.3</p>
        </div>
    </div>
</div>
<app-footer-mobile></app-footer-mobile>