<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="act-detail-sec cf">
        <div class="container">
           <div class="dtl-img-outer">
                <div class="status-info accept-green">Accepted</div>
                <figure>
                    <img src="assets/images-nct/detail-img.jpg">
                </figure>
            </div>
            <div class="activity-dtl-inner cf">
                <div class="chat-ico">
                    <a href="">
                        <i class="icon-chat-dots-icon"></i>
                    </a>
                </div>
                <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                <h2>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h2>
                <small>Fine Art</small>
                <p class="user-locaiton"><i class="icon-location-icon"></i>Underground Atlanta 50 Upper Alabama Street Atlanta, GA 30303 United States</p>
                <p class="user-locaiton"><i class="icon-user-icon"></i>Josephine Darakjy</p>
                <div class="detail-desc">
                    <h4>Description</h4>
                    <p>Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <a href="" class="main-btn md-btn">Join Request</a>
                </div>
                <div class="detail-desc">
                    <h4>Video Info</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="detail-desc">
                    <h4>Participants</h4>
                    <div class="rgt-seeall">
                        <a href="">See All</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="list-req-info"><h3><a href="" data-toggle="modal" data-target="#editProfileModal">Minna Amigon</a></h3></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img2.jpg">
                                </figure>
                                <div class="list-req-info"><h3><a href="">Minna Amigon</a></h3></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img3.jpg">
                                </figure>
                                <div class="list-req-info"><h3><a href="">Minna Amigon</a></h3></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="list-req-info"><h3><a href="">Minna Amigon</a></h3></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-desc">
                    <h4>List of Requests</h4>
                    <div class="rgt-seeall">
                        <a href="">See All</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="list-req-info">
                                    <h3>Minna Amigon</h3>
                                    <a href="" class="main-btn xs-btn w-auto">Accept</a>
                                    <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img2.jpg">
                                </figure>
                                <div class="list-req-info">
                                    <h3>Minna Amigon</h3>
                                    <a href="" class="main-btn xs-btn w-auto">Accept</a>
                                    <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img3.jpg">
                                </figure>
                                <div class="list-req-info">
                                    <h3>Minna Amigon</h3>
                                    <a href="" class="main-btn xs-btn w-auto">Accept</a>
                                    <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="general-bx lst-request-bx cf">
                                <figure>
                                    <img src="assets/images-nct/list-pic-img1.jpg">
                                </figure>
                                <div class="list-req-info">
                                    <h3>Minna Amigon</h3>
                                    <a href="" class="main-btn xs-btn w-auto">Accept</a>
                                    <a href="" class="second-btn xs-btn w-auto">Declaine</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-signup-sec cf">
                <h4 class="text-center">Report Activity Form</h4>
                <div class="signup-outer cf">

                    <form>
                        <div class="form-group cf">
                            <input type="text" id="email" name="email" placeholder="Enter Activity Name" class="is-form-control">
                        </div>
                        <div class="form-group cf">
                            <textarea class="is-form-control" id="desc" name="desc" rows="5" placeholder="Enter Description of What You re looking for."></textarea>
                        </div>
                        <div class="form-group cf">
                            <button type="submit" class="main-btn md-btn w-100">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>