<div class="footer-menu-sec cf">
    <ul class="d-flex justify-content-between">
        <li>
            <a routerLink="/home">
                <i class="icon-home"></i>
                <small>Home</small>
            </a>
        </li>
        <li>
            <a routerLink="/my-activities">
                <i class="icon-calendar-r"></i>
                <small>Calendar</small>
            </a>
        </li>
        <li>
            <a routerLink="/my-inbox">
                <i class="icon-email-icon"></i>
                <small>Inbox</small>
            </a>
        </li>
        <li>
            <a routerLink="/profile-menu-mobile" class="active">
                <i class="icon-bar-icon"></i>
                <small>Menu</small>
            </a>
        </li>
    </ul>
</div>