<app-header></app-header>
<app-header-mobile></app-header-mobile>
<div class="page-wrap">
    <div class="home-banner-sec cf" style="background-image: url(assets/images-nct/home-banner.jpg);">
        <div class="container">
            <div class="home-serch">
                <h1>Activities</h1>
                <p>"Building friendships and relationships through activities."</p>
                <form class="d-md-flex align-items-center justify-content-center">
                    <div class="form-keyword">
                        <input type="text" id="email" name="email" placeholder="Email Address*" class="is-form-control">
                        <i class="is-srch-ico"><img src="assets/images-nct/search-ico.png"></i>
                    </div>
                    <div class="form-locate">
                        <input type="text" id="email" name="email" placeholder="Email Address*" class="is-form-control">
                        <i class="icon-location-icon"></i>
                    </div>
                    <div class="form-search-btn">
                        <button type="submit" id="activtysubmit" name="activtysubmit" class="main-btn sm-btn" routerLink="/search-activities">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="activity-list-sec cf">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between home-mobile-heading">
                <h2>Activities in United States</h2>
                <div class="rgt-seeall ml-auto">
                    <a href="">See All</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3><a href="">Salange Shinko</a></h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="green-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="orange-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <div class="status-info accept-green">Accepted</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="green-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <div class="status-info pending-orange">Pending</div>
                            <img src="assets/images-nct/activity-img1.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="orange-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="" class="main-btn sm-btn mt-2">See All</a>
            </div>
        </div>
    </div>

    <div class="advertise-banner-sec">
        <div class="container">
            <figure>
                <img src="assets/images-nct/adv-banner-1.jpg">
            </figure>
        </div>
    </div>

    <div class="activity-list-sec cf">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between home-mobile-heading">
                <h2>Hot Activities</h2>
                <div class="rgt-seeall ml-auto">
                    <a href="">See All</a>
                </div>
            </div>
            <h2 class="home-heading">Hot Activities</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img2.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img2.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img2.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img2.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img2.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img2.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="" class="main-btn sm-btn mt-2">See All</a>
            </div>
        </div>
    </div>

    <div class="advertise-banner-sec">
        <div class="container">
            <figure>
                <img src="assets/images-nct/adv-banner-2.jpg">
            </figure>
        </div>
    </div>

    <div class="activity-list-sec cf">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between home-mobile-heading">
                <h2>New Activities Around You</h2>
                <div class="rgt-seeall ml-auto">
                    <a href="">See All</a>
                </div>
            </div>
            <div class="mobile-new-activity-sec">
                <div class="general-bx activity-bx cf">
                    <div class="d-flex">
                        <figure class="left-img-mobile">
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <div class="new-acti-info-mob">
                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                            <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                            <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                            <small>Participants: <strong>100</strong></small>
                            <div class="d-flex align-items-center activity-user-info">
                                <figure>
                                    <img src="assets/images-nct/user-img1.jpg">
                                </figure>
                                <h3>Salange Shinko</h3>
                            </div>
                        </div>
                    </div>
                    <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                </div>
                <div class="general-bx activity-bx cf">
                    <div class="d-flex">
                        <figure class="left-img-mobile">
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <div class="new-acti-info-mob">
                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                            <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                            <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                            <small>Participants: <strong>100</strong></small>
                            <div class="d-flex align-items-center activity-user-info">
                                <figure>
                                    <img src="assets/images-nct/user-img1.jpg">
                                </figure>
                                <h3>Salange Shinko</h3>
                            </div>
                        </div>
                    </div>
                    <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                </div>
                <div class="general-bx activity-bx cf">
                    <div class="d-flex">
                        <figure class="left-img-mobile">
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <div class="new-acti-info-mob">
                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                            <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                            <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                            <small>Participants: <strong>100</strong></small>
                            <div class="d-flex align-items-center activity-user-info">
                                <figure>
                                    <img src="assets/images-nct/user-img1.jpg">
                                </figure>
                                <h3>Salange Shinko</h3>
                            </div>
                        </div>
                    </div>
                    <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                </div>
                <div class="general-bx activity-bx cf">
                    <div class="d-flex">
                        <figure class="left-img-mobile">
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <div class="new-acti-info-mob">
                            <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                            <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                            <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                            <small>Participants: <strong>100</strong></small>
                            <div class="d-flex align-items-center activity-user-info">
                                <figure>
                                    <img src="assets/images-nct/user-img1.jpg">
                                </figure>
                                <h3>Salange Shinko</h3>
                            </div>
                        </div>
                    </div>
                    <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                </div>
            </div>

            <h2 class="home-heading">New Activities <span>Around You</span></h2>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>The Arts First Friday Edition - Art - Music - Food - Dance - Poetry - Film</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-md-flex align-items-stretch">
                    <div class="general-bx activity-bx cf">
                        <div class="d-flex align-items-center activity-user-info">
                            <figure>
                                <img src="assets/images-nct/user-img1.jpg">
                            </figure>
                            <h3>Salange Shinko</h3>
                        </div>
                        <h4>Minnesota Craft Beer Festival 2023</h4>
                        <figure>
                            <img src="assets/images-nct/activity-img3.jpg">
                        </figure>
                        <span class="date-txt">Fri, Apr 7, 10:00 PM</span>
                        <p class="location-txt"><i class="icon-location-icon mr-1"></i>The Continental Club 116 W 4th St Los Angel...</p>
                        <small>Participants: <strong>100</strong></small>
                        <a href="" class="main-btn sm-btn w-100 mt-2">Join</a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="" class="main-btn sm-btn mt-2">See All</a>
            </div>
        </div>
    </div>
    <div class="post-home-btn">
        <a href="" class="main-btn md-btn">POST</a>
    </div>
</div>
<app-footer></app-footer>
<app-footer-mobile></app-footer-mobile>